/* media quaries start with here 
And 
  we apply media quries in header  */
*{
    margin: 0;
    padding: 0;

}
body{
     width: 100vw;
}
  :root{
    --header-color:rgb(73, 73, 210);
}
@media screen and (max-width:1400px) {
    .navigation {
        max-width: 100%;
        background-color:var(--header-color);

    }

    .navbar div img {

        position: absolute;
        top: 16px;
        left: 80px;
        width: 8vw;
    }

    .navbar p {
        position: absolute;
        top: 30px;
        left: 131px;
    }

}
@media  screen and (mix-width:1100px)  {
    .navigation{
        background-color: grey;
    }


}