@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@300&family=Open+Sans:wght@300&family=Roboto&family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;

}

:root {
    --header-color: rgb(73, 73, 210);
    --footer-color: rgb(3, 3, 36);
    --price-color: rgb(51, 147, 51);
    --logo-plus: rgb(255, 200, 0);

}

html {
    scroll-behavior: smooth;
}

.navigation {

    background-color: var(--header-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 4;


}

.navbar div img {
    width: 8vw;
    height: 3vh;
    position: absolute;
    left: 158px;
    top: 16px;
}

.navbar p {
    position: absolute;
    top: 30px;
    left: 216px;
}

.navbar p strong,
svg {
    color: var(--logo-plus);
}

.navbar ul {
    position: relative;
    top: 0px;
    left: 77px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 22px 24px;


}

.navbar ul li a {

    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-ser;
}

ul li a:hover {

    font-weight: bolder;
    line-height: 7px;
}

.navigation input {
    width: 364px;
    padding: 9px 8px;
    border-radius: 8px;

    position: relative;
    top: 0px;

    left: 113px;
}



.btn {
    width: 5vw;
    height: 5vh;
    position: relative;
    top: 0px;
    left: 136px;
}

.btn:hover {
    cursor: pointer;
}

#cart {
    position: relative;
    top: 0px;
    left: 180px;
}

.btn2 {
    width: 5vw;
    height: 5vh;
    position: relative;
    top: 0px;
    left: 190px;
}

.btn2:hover {
    cursor: pointer;
}

#main {

    height: 135vh;
}

.container {
    background-color: white;
    height: 15vh;
    width: 100vw;
    /* border: 2px solid rgb(249, 248, 248); */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.container img {
    height: 13vh;
    width: 6vw;
}

.container img:hover {

    cursor: pointer;
    transform: scale(0.5);
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.text-container {

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

span:hover {
    cursor: pointer;
    color: var(--header-color);
}

span a {
    text-decoration: none;
    color: black;
}

span a:hover {
    text-decoration: underline;
    color: var(--header-color);

}

hr {
    margin-top: 3px;
    opacity: 0.2;

}

.bgimage img {
    margin-top: 4px;
    width: 99vw;
    height: 67vh;
}

#mainimage {
    display: block;
    width: 60vw;
    height: 25vh;
    margin: auto;
    padding: 66px 0px;
    /* border: 1px solid red; */
}

#sidelement {
    width: 14vw;
    height: 39vh;
    position: absolute;
    right: 16px;
    top: 690px;
}

.sidecontainer {
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center;
    align-content: center; */
}

.sidecontainer h2 {
    width: 15vw;
    margin: 40px 0px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 706px;
    height: 38vh;
    left: 19px;
    text-align: center;
    padding: 10px 2px;
}

.sidecontainer {
    width: 9vw;
    width: 9vw;
    height: 6vh;
    /* background-color: var(--header-color); */
    color: white;
    padding: 14px 20px;
    position: relative;
    bottom: 86px;
    left: 44px;

}

.sidecontainer div p {
    color: black;
    font-size: 3rem;
    font-family: robot;
    position: relative;
    bottom: 194px;
    left: -16px;
    right: 40px;
    z-index: 2;
}

.sidecontainer div button {
    width: 9vw;
    height: 6vh;
    background-color: var(--header-color);
    color: white;
    padding: 14px 20px;
    border-radius: 6px;
    position: relative;
    bottom: 173px;
}

.itemcontainer {
    width: 100vw;
    height: 65vh;

}


.heading h1 {
    font-family: 'Roboto', sans-serif;
    padding: 12px 24px;
}

.cart-iteam img {
    width: 13vw;
    height: 35vh;
    margin: 0px 22px;


}

.cart-iteam {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-evenly;

    overflow: scroll;
}

.cart-iteam p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 3px 0px;
}

.price {

    color: var(--price-color);
}

.brand {
    opacity: 0.4;
}

.cart-iteam img:hover {
    cursor: pointer;
    transform: scale(0.5);
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.cart-iteam p:hover {
    cursor: pointer;
}


.lastbtn {
    height: 8vh;
    padding: 12px 463px;
    margin: 2px 6px;
    position: relative;
    top: 17px;
    left: 183px;

}

.last a {
    padding: 2px 5px;
    background-color: var(--header-color);
    border-radius: 2px;
    color: white;
    padding: 14px 69px;
    font-family: 'Roboto', sans-serif;
    line-height: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
}

#footer {
    border: 2px solid rgb(241, 226, 226);
    background-color: var(--footer-color);
    color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-ser;
}